<div class="example-container mat-elevation-z8">
 
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/list']"><mat-icon>list</mat-icon> List</a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Product Name" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Please enter Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Gender" formControlName="gender"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('gender').valid && productForm.get('gender').touched">Please enter Gender</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobile" formControlName="mobile"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('mobile').valid && productForm.get('mobile').touched">Please enter Mobile</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Balance" formControlName="balance"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('balance').valid && productForm.get('balance').touched">Please enter Balance</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Amount" formControlName="amount"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('amount').valid && productForm.get('amount').touched">Please enter Amount</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon> Save</button>
      </div>
    </form>
  </mat-card>
</div>