
  <div class="example-container mat-elevation-z8">
    
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/list']"><mat-icon>list</mat-icon> List</a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Please enter Product Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Gender" formControlName="gender"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('gender').valid && productForm.get('gender').touched">Please enter Product Description</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile" formControlName="mobile">
         
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Balance" formControlName="balance"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('balance').valid && productForm.get('balance').touched">Please enter Product Price</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Comment" formControlName="comment"
                 [errorStateMatcher]="matcher"></textarea>
          <mat-error>
            <span *ngIf="!productForm.get('comment').valid && productForm.get('comment').touched">Please enter Comment</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon> Save</button>
        </div>
      </form>
    </mat-card>
  </div>
